@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  /* position */
  .flex-center {
    @apply flex items-center justify-center;
  }

  /* font */
  .font-xl {
    @apply text-24 font-semibold leading-32;
  }
  .font-lg {
    @apply text-18 font-medium leading-22;
  }
  .font-base {
    @apply text-16 font-medium leading-22;
  }
  .font-sm {
    @apply text-14 font-medium leading-22;
  }
  .font-xs {
    @apply text-11 font-medium leading-22;
  }

  /* modal */
  .modal-bg {
    @apply absolute top-0 h-full w-full;
  }
  .modal-wrap {
    @apply flex-center mx-auto h-full min-w-320 max-w-575 flex-grow bg-black bg-opacity-70;
  }

  /* scroll */
  .layout-scroll {
    @apply overflow-y-auto
    overflow-x-hidden
    scrollbar-thin
    scrollbar-track-transparent
    scrollbar-thumb-gr-100
    scrollbar-thumb-rounded-full
    scrollbar-w-11;
  }
  .blue-scroll {
    @apply overflow-y-auto
      overflow-x-hidden
      scrollbar
      scrollbar-track-transparent
      scrollbar-thumb-pr-100
      scrollbar-thumb-rounded-full
      scrollbar-w-8
      scrollbar-h-120;
  }

  /* etc */
  .hr {
    @apply my-16 border border-gray-200;
  }
<<<<<<< HEAD
  .layout-scroll {
    @apply overflow-y-auto
    overflow-x-hidden
    scrollbar-thin
    scrollbar-track-transparent
    scrollbar-thumb-gr-100
    scrollbar-thumb-rounded-full
    scrollbar-w-11;
  }
  .blue-scroll {
    @apply overflow-y-auto
      overflow-x-hidden
      scrollbar
      scrollbar-track-transparent
      scrollbar-thumb-pr-100
      scrollbar-thumb-rounded-full
      scrollbar-w-8
      scrollbar-h-120;
  }
=======
>>>>>>> feature/shj/TG-46
}
